.env*
.idea
.nyc_output
*.sublime-*
benchmark

# Build & Deployments
build
dist
public

# Common Files
*.log
*.code-*
*-lock.*
*.lock
pnpm-*.*
.DS_Store
Thumbs.db
coverage
desktop.ini
node_modules
temp
tmp
vendor

# AI
.chat
.smith
.automations
*.generated*
*.updated*
